html, body {
  height: 100%;
}
body {
  background: black;
  min-height: 100%;
  overflow: hidden;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, -1000px);
  }
}
.pic-wrap {
  margin: 0 auto;
  position: relative;
  width: 100%;
  min-height: 100%;
  transform-style: preserve-3d;
  transform-origin: center center;
  perspective: 600px;
}
.pic {
  position: absolute;
  background: black;
  animation: move 8s infinite;
  animation-fill-mode: forwards;
}

@for $i from 1 through 25 {
  .pic:nth-child(#{$i}){
    $size: random(1000)+px;
    height: $size;
    width: $size;
    animation-delay: -$i * 0.5s;
    transform: translate3d( (random(1000) * 2px),  (random(1000) * 1px), (random(2000) * 1px));
  }

}
